.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 10px grey;
}

.note{
    color: black;
    font-size: 15px;
}

.copy_right_footer{
    bottom: 0;
    position: fixed;
    background-color: gray;
    width: 100%;
    text-align: center;
    line-height: 3;
    font-size: 19px;
    color: white;
    
}

canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px grey;
}